*{
    margin:0;
    font-family: arial;
    

}
#renu1{
    height: 70px;
    background-color:black;
    display: flex;
}
#renu2{
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
    top:18px;
     display:inline-block;
}
#renu3{
    font-size: 20px;
    color: orange;
   
}
#renu4{
    color: white;
    font-size: large;
    display:inline-block;
    position:relative;
    top: 40px;
    left:15px;
}
#renu5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
    top: 40px;
    left: 15px;
    color:white;
    font-size: 18px;
}
#renu6{
    color: white;
    position: relative;
    top: 27px;
    right: 105px;
    font-size:15px;
}
#renu7{
    height:35px;
    width:52px;
    position: relative;
    top: 23px;
    right: 80px;
    color: black;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgb(183, 151, 93);
}
#renu8{
     height:30px;
     width:500px;
     position: relative;
     top: 23px;
     right: 85px;
     color: black;   
}
#renu9{
    height:37px;
    width: 45px;
    position: relative;
    top: 23px;
    right:91px;
    background-color: orange;
     border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#renu10{
    color: white;
    position: relative;
    top:23px;
    right:10px;
}
#renu11{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top:17px;
    right:93px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
}
#renu12{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    top:20px;
    right:50px;
}
#renu13{
    color: white;
    font-size:40px;
    position:relative;
    top:18px;
}
#renu14{
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#renu15{
    height: 360px;
    background-image:url("af_pc_2x._CB792409181_.jpg");
    background-size: cover;
}
#renu16{
    height:38px;
    background-color:#232f3e;
    display: flex;
    flex-direction: row;
   align-items: center;
} 
#renu17{
    color: white;
}
#renu18{
    color: white;
    margin:20px;
    
}
#renu19{
    color: white;
     margin:20px;
}
#renu20{
    color: white;
     margin:20px;
}
#renu21{
    color: white;
     margin:20px;
}
#renu22{
    color: white;
     margin:20px;
}
#renu23{
    color: white;
     margin:20px;
}
#renu24{
    color: white;
     margin:20px;
}
#renu25{
    color: white;
     margin:20px;
}
#renu26{
    color: white;
     margin:20px;
}
#renu27{
     margin:20px;
    background-color: black;
    color: white;
    border: none;}

#renu28{
    display: flex;
    justify-content: space-evenly;
    background-color:#e2e7e6;
}
.box{
   
    height:330px;
    width:22%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
}
#img1{
   background-image:url('51l8nRp3FqL._AC_SY200_.jpg');
    height: 250px;
   background-repeat: no-repeat;
    margin-top:20px;
    margin-left:20px;
    margin-right:0px;
    margin-bottom:23px;
    position: relative;
    top:30px;
    left:10px;

}
#abhi3{
    margin-left:10px;
    margin-right:20px;
}
#abhi5{
    color: #007185;
}
#img2{
    background-image:url('51YCvWB+XHL._AC_SY200_.jpg');
    height: 250px;
    background-repeat: no-repeat;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:23px;
    position: relative;
    top:30px;
    left:40px;

}
#img3{
    background-image:url('81cVPPhkYiL._AC_SY200_.jpg');
    height: 250px;
    background-repeat: no-repeat;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:23px;
    position: relative;
    top:30px;
    left:40px;

}
#img4{
    background-image:url('61RAABS0XIL._AC_SY145_.jpg');
    height: 250px;
    background-repeat: no-repeat;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:23px;
    position: relative;
    top:20px;
    left:20px;
    background-size:200px;
  
   
}
#gun1{
    background-color: #34465b;
    color:#ffffff;
    margin: 0px ppx 40px;
    padding: 15px 0px;
    margin-top:10px;
    text-align: center;
}
#m1{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#e2e7e6;
}
#m2{
   height:230px;
    width:100%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#m4{
    height:200px;
    width:240px;
    background-image:url(819Gt9Act8L._AC_SY200_.jpg) ;
    position:relative;
    top:40px;
   right:300px;
}
#m3{
    height:200px;
    width: 100px;
    background-image:url(71b7UbPX72L._AC_SY200_.jpg) ;
    position:relative;
    top:40px;
    right: 400px;
    
}
#m5{
    height:200px;
    width:210px;
    background-image:url(61Ysu-bx1zL._AC_SY200_.jpg);
    position:relative;
    top:40px;
     right:200px;
    
}
#m6{
    height:200px;
    width:250px;
    background-image:url(71RVlMswpgL._AC_SY200_.jpg);
    position:relative;
    top:40px;
     right:100px;
}
#m7{
    height:200px;
    width:210px;
    background-image:url(818kmzObgCL._AC_SY200_.jpg);
    position:relative;
    top:40px;
     
}
#j1{
    height:340px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
     
}
.box2{
     color: white;
     line-height:22px;
     
     
}
#t1{
    margin-left: 200px;
}
#l1{
    margin-right:120px;
}

#k1{
    height: 100px;
    background-color:#232f3e;
    display: flex;
    justify-content:space-evenly;
    
    
}
#k6{
    height:100px ;
    background-color:#0b151f;
    display: flex;
    justify-content: center;
    align-items: center;
}
#p1{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size:13px;
}

